.css-9kc04k-MuiToolbar-root{
    padding: 0px !important;
}
.css-1396euz-MuiPaper-root-MuiDrawer-paper{
    top: 77px !important;
}
.css-14ff4nu-MuiPaper-root-MuiAppBar-root{
    top: 70px !important;
}

.css-2mz2om-MuiPaper-root-MuiAppBar-root{
    top: 131px !important
}
@media only screen and (max-width:1200){
    .css-2mz2om-MuiPaper-root-MuiAppBar-root{
        top: 80px !important
    }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-xohfr9{
    top: 70px !important;
}
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-7ihjw8{
    top: 70px !important;
}
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed.css-1fyui8k {
    top: 131px !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-lg2an{
    padding: 0px !important;
}
body{
    margin: 0 !important;
}